.header {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid rgba(217, 217, 217, 1);
}
.navButton {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 22px;
    width: 27vh;
    color: white;
    text-decoration: none;
    background-color: #4520AB;
    border-radius: 20px;
    font-family: RF Rostin;
  } 
  .navButton:hover {
    text-decoration: underline;
    color: grey;
  }
  .categoryButton {
    background-color: #FFBC5B;
    color: black;
    font-family: RF Rostin;
    border-radius: 20px;
  }